body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 280px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    color: #0a5396;
    font-size: 31px;
    margin-bottom: 20px;
}

p {
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}