body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fafbfb;
}

.main-heading {
    text-align: center;
    width: 100%;
    /* display: flex; */
}

.guesses{
    width: 100%;
    text-align: center; /* Center-align the text */
    background-color: transparent;
    position: relative; /* Change position to relative */
    top: 0;
    left: 0;
    z-index: 5;
    font-size: 1rem;
    color: #333;
    box-shadow: none;
    margin: 0 auto; /* Center-align the block element horizontally */
  }

.content-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
}

.image-container {
    width: 20%;
    margin-left: 200px;
}

.form-container{
   text-align: center;
}

.image-container img {
/* max-width: 100%; */
    width: 100%;
    height: 100%;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.form-button {
    display: block;
    background-color: #4caf50;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
  }

  .form-input{
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    padding: 5px;
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    margin-right: 15px;
    font-size: 20px;
}
  
