/* root reset */
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
 
 
*,
*::before,
*::after {
  box-sizing: border-box;
}
 
/* css variables */
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}

/* reset html */
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0c67ae;
}


/* Game over screen stylesa */
.game-over-screen {
  z-index: 6;
  width: 100%;
  top: 20rem;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease-out 1s;
}

.game-over-screen.active {
  z-index: 6;
  width: 100%;
  height: 100%;
  top: 15rem;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  opacity: 1;
  padding: 20px;
}

.game-over-screen h1 {
  color: white;
  font-size: 2.5rem;
}


.game-over-screen p {
  font-size: 1.5rem; 
  margin: 0.5rem 0; 
  color: white;
}

#final-turns {
  font-weight: bold;
  color: white;
}

.game-content {
  height: 100%;
  padding-top: 2rem;
  color: #335eea;
}

.blur {
  filter: blur(4px) brightness(50%);
  background-color: rgb(0 0 0 / 40%);
  transition: all 1s ease-out 1s;
}

.options {
  background-color: rgb(242 242 242);
  opacity: 0.75;
  border-radius: 10px;
  width: 15%;
  height: 10%;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.option-button {
  border: none;
  border-radius: 5px;
  background-color: rgb(242 242 242);
  color: black;
  cursor: pointer;
  width: 16px;
  height: 20px;
  padding: 12%;
}

.button1 {
  background-image: url("../../images/home_button.png");
  background-size: cover;
}

.button2 {
  background-image: url("../../images/replay.png");
  background-size: cover;
}


#title {
  height: 150px;
  width: 400px;
}

#board {
  width: 360px;
  height: 360px;
  background-color: lightblue;
  border: 10px solid #0c67ae;
  margin: 0 auto;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px; 
}


#board img {
  width: 100%; 
  height: auto;
  border: 1px solid #0c67ae;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#board-2 {
  width: 600px;
  height: 600px;
  background-color: lightblue;
  border: 10px solid #0c67ae;
  margin: 0 auto;
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 5px; 
}


#board-2 img {
  width: 100%; 
  height: auto;
  border: 1px solid #0c67ae;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#board-3 {
  width: 600px;
  height: 600px;
  background-color: lightblue;
  border: 10px solid #0c67ae;
  margin: 0 auto;
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  gap: 5px; 
}


#board-3 img {
  width: 100%; 
  height: auto;
  border: 1px solid #0c67ae;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.empty-tile {
  border: 2px dashed #0c67ae;
}

.active-tile {
  outline: 3px solid #0c67ae;
}

.other-stages-text {
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;

}

.movie-cards-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.movie-card {
  background-image: url("../../images/mosaic/mosaicbg-2.png");
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  padding: 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #000;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.movie-card-1 {
  background-image: url("../../images/mosaic/mosaicbg.png");
  background-size: cover;
  background-position: top;
}

.movie-card-2 {
  background-image: url("../../images/mosaic/mosaicbg-2.png");
  background-size: cover;
  background-position: top;
  color: black;
}

.movie-card-3 {
  background-image: url("../../images/mosaic/mosaicbg-3.png");
  background-size: cover;
  background-position: 20% 7%;
  color: black;
}

.movie-card-1 h1.main-heading,
.movie-card-2 h1.main-heading,
.movie-card-3 h1.main-heading {
  color: black;
  text-shadow: 0 0 8px rgb(255 255 255);
}

 