body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    margin: 50px auto;
    padding: 40px;
    padding-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    text-align: center;
}

.congrats-width {
    max-width: 800px;
}

.crypto-width {
    max-width: 1400px;
}


h1 {
    color: #0a5396;
    font-size: 31px;
    margin-bottom: 26px;
}

p {
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1;
}

h1.alternate {
    color: #0a5396;
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 80px;
}

p.alternate {
    color: black;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

.image-size {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
}

.button {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.button:focus {
    outline: none;
}

.button::-moz-focus-inner {
    border: 0;
}

.button-inner {
    align-items: center;
    background: #0a5396;
    border: 2px solid transparent;
    border-radius: 99em;
    color: #fff;
    display: flex;
    font-weight: 600;
    height: 2.5em;
    min-width: 2.5em;
    padding: 0 1em;
    position: relative;
    transition: 0.2s ease;
    width: 100%;
    font-size: 14px;
}

.button:focus .button-inner {
    border-color: #fff;
    box-shadow: 0 0 0 2px #0a5396;
}

.button:hover .button-inner {
    filter: brightness(1.1);
}

.button:active .button-inner {
    filter: brightness(0.9);
}

.justify {
    text-align: justify;
}