/*root reset */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* css variables */
  :root {
    --primary-color: #335eea;
    --link-color: #506690;
    --btn-hover-color: #2b50c7;
    --lg-heading: #161c2d;
    --text-content: #869ab8;
    --fixed-header-height: 4.5rem;
  }
/* reset html*/
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fafbfb;
  }
  ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  /* container */
  .container {
    width: 100%;
  }
  @media screen and (min-width: 1040px) {
    .container {
      width: 1040px;
      margin: 0 auto;
    }
  }
/* header */
.header {
    height: var(--fixed-header-height);
    padding: 0 1.7rem;
  }

/* Nav */
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* Logo */
  .logo h2 {
    font-size: 28px;
    color: var(--primary-color);
  }
  .nav_menu_list {
    display: flex;
    align-items: center;
  }
  .nav_menu_list .nav_menu_item {
    margin: 0 2rem;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 16.5px;
    line-height: 27px;
    color: var(--link-color);
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
  .nav_menu_link:hover {
    color: var(--primary-color);
  }
  .toggle_btn {
    font-size: 20px;
    font-weight: 600;
    color: var(--lg-heading);
    z-index: 4;
  }
  .nav_menu {
    display: none;
    /* align-items: center; */
  }
  .close_btn {
    display: none;
    /* margin: 0 0 0 30rem; */
  }
  .show {
    right: 3% !important;
  }

  @media screen and (min-width: 768px) {
    .toggle_btn {
      display: none;
    }
    .nav_menu {
      display: block;
    }
  }

.main-heading {
    text-align: center;
    /* display: flex; */
}

#scoreboard h2{
    text-align: center;
}

.image-container {
    width: 98%;
    text-align: center;
    margin: 2rem;
    position: absolute;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image-container.zoomed img {
    transform: scale(2); 
}

/* Styles for the found button on Waldo*/
.found-button {
    z-index: 2;
    position: absolute;
    top: 10.5rem; 
    left: 49rem;
    width: 45px;
    height: 60px; 
    background-color: rgba(128, 0, 128, 0); 
    border: none;
    cursor: pointer;
}

#gameOverScreen {
    z-index: 6;
    width: 100%;
    height: 100%;
    top: 25rem;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}

#gameOverScreen h1 {
    color: white;
    font-size: 2.5rem;
}

.blur {
    filter: blur(2px) brightness(50%);
}

#scoreboard {
    width: 100%;
    text-align: left;
    background-color: transparent; 
    position: absolute;
    top: 0; 
    left: 0;
    transform: translateY(calc(100% + 4.0rem)); 
    z-index: 5;
    font-size: 1.0rem;
    color: #333; 
    box-shadow: none; 
}
@media screen and (min-width: 1040px) {
    .container {
      width: 1040px;
      margin: 0 auto;
    }
  }
  /* header */
  .header {
    height: var(--fixed-header-height);
    padding: 0 1.7rem;
  }