.about-main-heading{
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
}

.profile-cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
}
.card{
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e5e9f4;
    margin-bottom: 10px;
}

@media (max-width: 500px){
.profile-cards-grid {
    grid-template-columns: 1fr;
}
}