/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/*root reset */
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* css variables */
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}

/* reset html*/
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* container */
.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Wrapper */
.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.grid-item-1-left {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.grid-item-1-center {
  padding: 15rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.main-heading span {
  color: var(--primary-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
  max-width: fit-content;
}
.btn-wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
  /* background-image: url("html/images/gameBG.jpg");
  background-size: cover;
  background-position: center; */
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.view-more-btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view-more-btn i {
  margin-left: 0.7rem;
}
.view-more-btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.documentation-btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation-btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}
.team-img-wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}

.featured-info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured-info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}
footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 12px;
  margin-top: 8rem;
}

/* responsive design */

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view-more-btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured-info p {
    line-height: 23px;
    font-size: 14px;
  }

  /* Wrapper */
  .wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  /* Info Text */
  .info-text {
    color: #334157;
  }

  /* Buttons */
  .btn {
    background-color: #335eea;
    color: #fff;
  }

  .btn:hover {
    background-color: #2b50c7;
  }

  .view-more-btn {
    background-color: #e8491d;
  }

  .image-container {
    width: 80vw;
    height: 80vh;
    max-width: 1080px;
    max-height: 698px;
    border: 10px solid white;
    box-shadow: 0 0 15px rgba(black, 0.3);
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  
  .wrapper {
    padding-top: 3rem;
  }
  
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }

  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }

  .btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team-img-wrapper {
    width: 350px;
    height: 350px;
  }

  .featured-info span {
    font-size: 19px;
  }

  /* Wrapper */
  .wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  /* Info Text */
  .info-text {
    color: #334157;
  }

  /* Buttons */
  .btn {
    background-color: #335eea;
    color: #fff;
  }

  .btn:hover {
    background-color: #2b50c7;
  }

  .view-more-btn {
    background-color: #e8491d;
  }

  .image-container {
    width: 80vw;
    height: 80vh;
    max-width: 1080px;
    max-height: 698px;
    border: 10px solid white;
    box-shadow: 0 0 15px rgba(black, 0.3);
    position: relative;
  }
}

/* Info Text */
.info-text {
  color: #334157;
}

/* Buttons */
.btn {
  background-color: #335eea;
  color: #fff;
}

.btn:hover {
  background-color: #2b50c7;
}

.view-more-btn {
  background-color: #e8491d;
}

.image-container {
  width: 80vw;
  height: 80vh;
  max-width: 1080px;
  max-height: 698px;
  border: 10px solid white;
  box-shadow: 0 0 15px rgba(black, 0.3);
  position: relative;
}

.movie-card-1 {
  background-image: url("images/waldo_stage_1.jpg");
}

.movie-card-2 {
  background-image: url("images/waldo_stage_2.png");
}

.movie-card-3 {
  background-image: url("images/waldo_stage_3.jpg");
}

.movie-card {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
  /* color: #fff; */
  width: 100%;
}

.movie-card .info-text {
  padding-left: 10rem;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  position: relative;
  color: #ffffff;
  text-align: center;
}

.movie-card .main-heading {
  font-weight: bold;
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px;
  position: relative;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 2.0);  */
}
.movie-card:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.btn {
  accent-color: var(--primary-color);
  background-color: var(--primary-color);
}
